<div class="login-page-wrapper d-flex justify-content-center align-items-center min-vh-100">

<!--  <header class="dashboard-header">-->
<!--    <h1>Welcome </h1>-->

<!--    &lt;!&ndash; بخش جدید برای دکمه‌های کاربر &ndash;&gt;-->
<!--    <div class="header-actions">-->
<!--      &lt;!&ndash; دکمه خروج &ndash;&gt;-->
<!--      <button (click)="logout()" class="btn btn-logout">Logout</button>-->
<!--    </div>-->
<!--  </header>-->

  <div class="login-card p-4 shadow-lg text-center">
    <div class="card-body">
      <h2 class="card-title mb-5 fw-bold"> Please enter your details to log in.
        <div class="underline"></div>
      </h2>

      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group mb-4">
          <label for="username" class="form-label">email:</label>
          <input type="text" class="form-control rounded-pill" id="username" name="username" [(ngModel)]="username" required placeholder="example@email.com">
        </div>

        <div class="form-group mb-4">
          <label for="password" class="form-label">password:</label>
          <input type="password" class="form-control rounded-pill" id="password" name="password" [(ngModel)]="password" required placeholder="Enter your password">
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger text-start rounded-3 mb-3 py-2" role="alert">
          {{ errorMessage }}
        </div>
        <div *ngIf="successMessage" class="alert alert-success text-start rounded-3 mb-3 py-2" role="alert">
          {{ successMessage }}
        </div>

        <button type="submit" class="btn btn-primary w-100 py-3 fw-bold rounded-pill mb-3">login</button>
      </form>

      <div class="divider my-4"></div>

      <button (click)="loginWithGoogle()" class="btn btn-google w-100 py-3 fw-bold rounded-pill d-flex align-items-center justify-content-center">
        <img src="https://www.google.com/favicon.ico" alt="Google icon" class="me-2 google-icon">
        Continue with Google
      </button>

      <div class="mt-4 text-center">
        <p class="text-secondary">
          Don't have an account?
          <a routerLink="/register-type" class="fw-semibold text-primary">
            Sign up
          </a>
        </p>
      </div>

    </div>
  </div>
</div>
